<h4 class="fw-bold py-3 mb-4">Editing service</h4>

<%= render "form", service: @service %>
<br>

<div>
  <%= link_to "Show this service", @service %> |
  <%= link_to "Back to services", services_path %>
</div>
