<%= form_with(model: room) do |f| %>
  <div class="d-flex align-items-center">
    <%= f.text_field :name, class: "form-control" %>
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>