<%= form_with(model: [@room, @message]) do |f| %>
  <div class="input-group input-group-merge speech-to-text" style="bottom: -10px">
    <button type="submit" class="input-group-text">
      <i class="bi bi-send"></i>
    </button>
    <%= f.text_field :body, class: "form-control", placeholder: "Message ##{@room.name}" %>
    <span class="input-group-text" id="text-to-speech-addon">
      <i class="bi bi-mic cursor-pointer text-to-speech-toggle"></i>
    </span>
  </div>
<% end %>